* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Starjout";
  src: url("./fonts/Starjout.ttf") format("truetype");
}

@font-face {
  font-family:  "Strjmono";
  src: url("./fonts/Strjmono.ttf") format("truetype");
}

:root {
  --texto-amarillo: #f0a411;
  --header-bgcolor: #000000cc;
  --whitecolor: #ffffff;
  --efectoverde:#00ff00;
  --footer-bgcolor: #52c6c3
}

body {
  font-family: "Strjmono";
  text-transform: lowercase;
}

h1, span {
  font-family: "Starjout";
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px;
  background: var(--header-bgcolor);
}

header h1 {
  color: var(--whitecolor);
  font-size: 3rem;
  letter-spacing: 0.25rem;
}

/* Nav */
nav {
  background: var(--header-bgcolor);
  border-top: 2px solid var(--texto-amarillo);
  border-bottom: 2px solid var(--texto-amarillo);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  height: 60px;
}

nav ul li {
  font-weight: bolder;
  letter-spacing: 0.25rem;
}

nav ul li a {
  color: var(--texto-amarillo);
  font-weight: bold;
}

nav ul li a:hover {
  background: linear-gradient(to right,
      var(--efectoverde),
      transparent 50%,
      var(--efectoverde));
  /* Cambiado a verde y dirección del efecto */
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  padding: 1rem;
  
}

.audio {
  float: right; 
  opacity: 0.25;
}

#fondo {
  min-height: 100vh;
  background-image: url(./img/cantina-fondo.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

main {
  margin: 0;
  color: var(--texto-amarillo);
  height: 100%;
}

.animacion h1 {
  text-align: center;
  margin-bottom:3rem;
  font-size: 5rem;
}

.animacion p {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  text-transform: lowercase;
}

.animacion {
  padding: 40px;
  text-align: justify;
  hyphens: auto;
  margin: 0 auto;
  letter-spacing: 1.5px;
  max-width: 1080px;
  height: 800px;
  transform: perspective(200px) rotateX(14deg);
  animation: intro 60s linear infinite;
}

@keyframes intro {
  0% {
    transform: perspective(200px) rotateX(14deg) translateY(400px);
    opacity: 1;
  }

  90% {
    opacity: 0.75;
  }

  100% {
    transform: perspective(200px) rotateX(20deg) translateY(-1200px);
    opacity: 1;
  }
}

footer {
  background-color: var(--footer-bgcolor);
  color: var(--whitecolor);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 108px;
}